<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
         <activity
            android:name="com.example.app_test.test_main"
            android:label="@string/app_name" >
            </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:label="@string/app_name" >
           
        </activity>
        <activity
            android:name = "CityList"
            android:label="chose city"
            ></activity>
       
        <activity
            android:name="com.example.bitmap.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.bitmap.CreateActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RegisterNow"
            android:label="Register" >
        </activity>
        <activity
            android:name=".AddFriend"
            android:label="ADD FRIEND"
            ></activity>
        <activity
            android:name=".LoginSuccess"
            android:label="UserName" >
        </activity>
        <activity
            android:name=".RegisterSuccess"
            android:label="Register Success" >
        </activity>
        <activity 
            android:name=".RegisterShow"
            android:label="Register Now ..."
            ></activity>
        <activity
            android:name=".LoginNow"
            android:label="Loging now ..." >
        </activity>
        <activity 
            android:name=".talk_to_friend"
            android:label="Easy Talk"
            ></activity>
        <activity 
            android:name = ".FriendInfomation"
            android:label="--- INFO ---"></activity>
        <activity
            android:name=".StartShow"
            android:label="@string/app_name">
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            
            ></activity>
        <activity
            android:name=".ScanResultShow"
            android:label="@string/title_activity_scan_result_show" >
        </activity>



    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

</manifest>
